.clients__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.clients__item {
  margin-left: auto;
  margin-right: auto;
}

.clients__link {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: calc(50vw - 30px);
  // width: calc((100%/2) - 30px);
  // width: calc((100% - 60px)/2);
  height: 92px;
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;
  color: var(--social-icon-color);
  transition: var(--transition-border-color-funk),
    var(--transition-color-link-func);
  &:hover,
  &:focus {
    color: var(--current-color);
    border: 1px solid var(--current-color);
  }
}

.clients__icon {
  fill: currentColor;
}

@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    width: 1200px;
    flex-wrap: nowrap;
  }
  .clients__link {
    width: 170px;
  }
}
