.command__section {
  background-color: var(--backgronud-button-color);
}
// .command__title {
//   @include font(700, 36px, 42px);
//   color: var(--secondary-color);
//   text-align: center;
// }
// .command__list {
//   width: 450px;
//   height: 622px;
// }

.command__item:nth-child {
  margin-bottom: 30px;
}
.command__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.name {
  margin-bottom: 10px;
  @include font(500, 16px, 19px);
  color: var(--secondary-color);
}

.prof {
  @include font(400, 16px, 29px);
  color: var(--main-color);
  margin-bottom: 16px;
}

.name-prof {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.command__item {
  background: var(--main-light-color);
  box-shadow: var(--box-shadow-modal);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px) {
  // .command__list {
  //   width: 450px;

  // }
  // .command__item {
  //   width: 450px;
  // }
}

@media screen and (min-width: 768px) {
  .command__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  // .command__item {
  //   width: 354px;
  // }
}
@media screen and (min-width: 1200px) {
  .command__list {
    width: 1200px;
  }

  .command__item {
    width: 270px;
  }
}
