:root {
  /*Fonts*/
  --main-font-family: "Roboto", sans-serif;

  /*Colors*/
  --main-dark-color: #000;
  --main-light-color: #fff;
  --current-color: #2196f3;
  --main-color: #757575;
  --secondary-color: #212121;
  --background-dark-color: #2f303a;
  --background-light-color: #e5e5e5;
  --backgronud-button-color: #f5f4fa;
  --button-hero-hover-color: #188ce8;
  --header-border-color: #ececec;
  --social-icon-color: #afb1b8;
  --border-color: rgba(33, 33, 33, 0.2);
  --overlay-color: #2196f3e5;
  --workcom-background-color: rgba(47, 48, 58, 0.8);
  --footer__social-link-background: rgba(255, 255, 255, 0.1);
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --transition-color-link-func: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-background-color-func: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  --transition-box-shadow-func: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-border-color-funk: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --box-shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-button: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --transition-fill-color: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-opaciti-visibiliti: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

$desciption-icons: 1 antenna, 2 clock, 3 diagram, 4 astronaut;
